/* Styles for UserSelection component */

.UserSelection {
  background-color: #eaeaea;
  outline: none;
  border: none;
  border: 2px solid #aaa;
  border-radius: 4px;
  width: fit-content;
  min-width: 10rem;
  min-height: 2.2rem;
  padding: 0 1rem 0 0.7rem;
  /* position */
  margin-top: 0.7rem;
}
