/* Styles for Wizard : Page component */

.stats-PageComponent {
  width: 100%;
  /* min-height: 2rem; */
  height: fit-content;
  margin-bottom: -1rem;
}
.stats-PageComponent .page-seperator-section {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
}
.stats-PageComponent .page-seperator-section h5 {
  /* text */
  color: #888;
  font-size: 2rem;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
}
