/* Styles for Wizard Staistics page */

/* Wizard Stats Page */
.WizardStats {
  width: 100vw;
  height: calc(100vh - var(--navbar_height));
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WizardStats - Inner content container */
.WizardStats .wizard-content-container {
  width: 76vw;
  height: 74vh;
  background-color: #fff;
  box-shadow: 0px 0px 20px #00000044;
  border-radius: 8px;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
/* WizardStats - Inner content container (wizard not fount at url) */
.WizardStats .wizard-content-container-loading {
  justify-content: center;
}
.WizardStats .wizard-content-container-loading img {
  width: 5rem;
}

/* Top header */
.wizard-content-container .container-header {
  background: #8080804d;
  width: 100%;
  height: 2.95rem;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #333333bc;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* header top layout */
.wizard-content-container .container-header .wizard-title,
.wizard-content-container .container-header .page-counter,
.wizard-content-container .container-header .page-controllers {
  flex: 1 1 0;
}
.wizard-content-container .container-header .wizard-title {
  text-align: left;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4164bc;
}
.wizard-content-container .container-header .page-counter {
  text-align: center;
  font-weight: 400;
  color: #9a8dc1;
}

.wizard-content-container .container-header .page-controllers {
  height: 1.4rem;
  padding-right: 1rem;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* wizard container body */
.wizard-content-container .container-body {
  width: 100%;
  height: calc(100% - 2.95rem);
  padding: 1rem 0.8rem;
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* overflow */
  overflow-y: auto;
}
