/* Styles for Wizard : Page : Section */

/* Section container */
.Section-container {
  width: 100%;
  /* layout */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;
  /* position */
  position: relative;
}

/* Section left side - Section title */
.Section-container .title-section {
  width: 22%;
  text-align: center;
  /* layout */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.Section-container .title-section .title-section-title {
  width: 100%;
  height: 3rem;
  background-color: #c4c4c444;
  color: #555;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  font-weight: 400;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section title input field */
.Section-container .title-section .title-section-title input:focus {
  animation: none;
}
.Section-container .title-section .title-section-title input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 85%;
  height: 1.8rem;
  /* text */
  text-align: center;
  font-size: 0.85rem;
  color: #777;
  padding: 0.25rem 0.4rem;
  /* animation */
  animation: onAddedSection 0.4s 0.3s forwards;
  /* init styles */
  border-bottom: 2px solid #ff5555;
}

/* Section right side - Section info */
.Section-container .info-section {
  background-color: #c4c4c499;
  width: 78%;
  min-height: 4.4rem;
  height: fit-content;
  border-radius: 0 5px 5px 5px;
  padding: 1rem 1.7rem;
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Section-container .title-section .title-section-title {
  width: 100%;
  height: 3rem;
  background-color: #c4c4c444;
  color: #555;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for Remove-Section btn */

button.remove-section {
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  background-color: transparent;
  /* position */
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  /* z-index: 9; */
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  /* mouse */
  cursor: pointer;
}
button.remove-section img {
  height: 90%;
}

/* Styles for Add Here component */

.Add-Section-Here {
  width: 100%;
  height: fit-content;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position */
  left: 0 !important;
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
  /* animation */
  transition: all 0.15s ease;
  animation: onEnterAddHere 0.15s 0s forwards;
  /* mouse */
  pointer-events: none;
  /* init state */
  opacity: 0;
}
/* Add Here modes (last element, empty section) */
.Add-Section-Here.last-element {
  top: unset;
  bottom: -2.5rem;
  margin-top: 1rem;
  transform: rotateX(180deg);
}
.Add-Section-Here.no-elements::after {
  content: "Add new Section";
  position: absolute;
  margin-top: 3.5rem;
  font-size: 0.8rem;
  color: #aaa;
}
.Add-Section-Here.no-elements {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Add Here Plus section */
.Add-Section-Here.no-elements section {
  border-radius: 5px;
}
.Add-Section-Here:hover {
  opacity: 1;
}
.Add-Section-Here section {
  width: 10rem;
  height: 1.9rem;
  background-color: #ff5555;
  border-radius: 5px;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  /* mouse */
  cursor: pointer;
  pointer-events: visible;
}
.Add-Section-Here section img {
  height: 70%;
  z-index: 2;
  opacity: 0.8;
}

/* responsive */

@media screen and (max-width: 970px) {
  .Section-container {
    flex-direction: column;
  }
  .Add-Section-Here {
    top: 0.2rem;
  }
  /* title section */
  .Section-container .title-section {
    width: 10rem;
  }
  .Section-container .title-section .title-section-title {
    border-radius: 5px 5px 0 0;
  }
  /* info section */
  .Section-container .info-section {
    width: 100%;
  }
}

/* animations */

@keyframes onAddedSection {
  to {
    border-bottom-color: #c4c4c444;
  }
}

@keyframes onEnterAddHere {
  to {
    opacity: 0.5;
  }
}
