/* Styles for DashboardAddWizard component - at Dashboard */

/* Dashboard Add wizard container */
.DashboardAddWizardBtn {
  background-color: #e0e0e066;
  width: 100%;
  min-height: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  /* mouse */
  cursor: pointer;
  /* animation */
  transform: translateX(1rem);
  opacity: 0;
  animation: onEnter_Wizard 0.2s 0s forwards;
}
.DashboardAddWizardBtn:hover {
  background-color: #e7e7e766;
}

/* Dashboard Add wizard - add icon */
.DashboardAddWizardBtn img {
  height: 50%;
  opacity: 0.75;
}

/* animations */

@keyframes onEnter_Wizard {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
