/* Global styles */

:root {
  --navbar_height: 5rem;
  --app_def_color: #4a4164;
}

* {
  /* default global styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*::selection {
  background-color: #55555533;
}

html,
body,
.Index,
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  background-color: #f7f4f4;
}
